.information{
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
    width: 30rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 1rem;
    border-radius: 1rem;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7rem;
   /* gap:10rem */
    /* flex-direction: column; */
    gap:8rem;
    /* margin-left: 5rem; */
}
.DOWNLOAD-BTN{
    
    padding: 0.5rem;
    text-align: center;
    width: 5rem;
    border-radius:0.2rem ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 1s;
    margin: 0;
    margin-top: 0.5rem;
   
    color: rgb(22, 22, 20);
  
  background-color: rgb(244, 194, 13);
}
.DOWNLOAD-BTN:hover{
  text-decoration:none;
  color: rgb(251, 250, 250);
  background-color: rgb(27, 30, 32);
}
.download-icon{
    width:2rem;
    height: 2rem;
}
.formargin{
    margin-left:11rem ;
    margin-right: 11rem;
    /* margin-top: ; */
    
}
/* tech */
.Technical-skills{
    display: flex;
    justify-content:space-around;
    /* align-items: center; */
    flex-direction: column;
    margin-top: 9rem;
    /* margin-right: 7rem; */


}
.web-item{
    background-color: aqua;
    margin: 0.5rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: 500;
    /* opacity: 0.8; */
    
}
.web{
    /* max-width: 30rem; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
     rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 1rem;
    border-radius: 0.5rem;
}
.programming{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
     rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 1rem;
    border-radius: 0.5rem;
}
.web-prog{
display: flex;
justify-content:space-evenly;
/* gap: 20rem; */
align-items: center;
margin-top: 3rem;
}
.tech-heading{
    color: rgb(41, 40, 38);
    text-decoration: underline;
    text-decoration-color: rgb(238, 195, 1);
}
/* educational-details styling */
.educational-details{
    /* margin-top: 2rem; */
    display: inline-flex;
 flex-direction: column;
 /* align-items: center; */
 justify-content:center;
 /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
/* padding: 1rem; */
/* border-radius: 0.5rem; */
max-width: 65rem;
padding-left: 0;
padding-top: 0%;
/* padding-bottom: 1.5rem; */
/* margin-left: 0; */

}
.education{
    margin-top: 9rem;
   
}
.education-heading{
color: rgb(41, 40, 38);
text-decoration: underline;
text-decoration-color: rgb(238, 195, 1);
margin-bottom: 2rem;
}
.details{
    margin-top: 0.7rem;
    display: flex;
    justify-content:space-between;
    /* align-items: center; */
    /* gap:5rem; */
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding: 1rem;
    /* margin-right: 6rem; */
    /* margin-left:13rem ; */
    /* margin-right: 10rem; */
    width: 45rem;
    
}
.description{
    font-style: italic;
    opacity: 0.8;
}
.description1{
    text-align: right;
    opacity: 0.8;
}
/* extra curricular */
.extracurricular{
margin-top: 6rem;
/* margin-right: 7rem; */
margin-bottom: 10rem;

}
.activities{
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 9px -20px;
    padding: 0.2rem;
    /* margin-top: 1.5rem; */
    border-radius: 0.5rem;
    /* width: 20rem; */
    max-width: 50rem;
}
.item{
    /* margin: 2rem; */
    margin: 1rem;
    /* font-style: italic; */
    opacity: 0.8;
    /* margin-left:16rem ; */
    text-align:left;
    list-style: none;
    /* width: 20rem; */
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */

}
h3{
    opacity:0.8;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: medium;
    padding: 0.5rem;
    /* position: absolute; */
    /* bottom: 0; */
    max-width: 100rem;
    margin: 0%;
    
}
.icon{
    color: aliceblue;
    background-color: azure;
    width: 2rem;
    height: 2rem;
    
}
.iconss{
 display: flex;
 justify-content: center;
 align-items: center;
 gap:1rem;
 margin: 1rem;

}
@media screen and (max-width: 1313px) {
    
    /* .about{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 7rem;
       gap:10rem
        flex-direction: column;
        gap:16rem
    } */
    /* .footer{
        width: 50rem;
        margin-left:11rem ;
        margin-right: 11rem;
    } */
    /* .educational-details{
        width: 45rem;
    } */
    .about{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 7rem;
       /* gap:10rem */
        /* flex-direction: column; */
        gap:4rem;
        /* margin-left: 5rem; */
    }
    .information{
        display: flex;
        justify-content: flex-start;
        /* align-items: center; */
        flex-direction: column;
        width: 20rem;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        padding: 1rem;
        border-radius: 1rem;
    }
    .web-prog{
        display: flex;
        justify-content:space-between;
        /* gap: 20rem; */
        align-items: center;
        margin-top: 3rem;
        }
        .details{
            margin-top: 0.7rem;
            display: flex;
            justify-content:space-between;
            /* align-items: center; */
            /* gap:5rem; */
            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
            padding: 1rem;
            /* margin-right: 6rem; */
            /* margin-left:13rem ; */
            /* margin-right: 10rem; */
            width: 40rem;
            
        }

   
}
@media screen and (max-width: 1169px) {
    .about{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 7rem;
       /* gap:10rem */
        flex-direction: column;
        gap:4rem;
        /* margin-left: 5rem; */
    }
    .information{
        display: flex;
        justify-content: flex-start;
        /* align-items: center; */
        flex-direction: column;
        width: 30rem;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        padding: 1rem;
        border-radius: 1rem;
    }
    .web-prog{
        display: flex;
        justify-content:space-between;
        gap: 2rem;
        align-items: center;
        margin-top: 3rem;
        /* font-size: medium; */
        }
    .details{
        margin-top: 0.7rem;
        display: flex;
        justify-content:space-between;
        /* align-items: center; */
        /* gap:5rem; */
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        padding: 1rem;
        /* margin-right: 6rem; */
        /* margin-left:13rem ; */
        /* margin-right: 10rem; */
        width: 25rem;
        font-size: large;
        
    }
    /* h3{
        font-size: medium;
    } */
    .activities{
        /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 9px -20px;
        padding: 0.2rem;
        /* margin-top: 1.5rem; */
        border-radius: 0.5rem;
        /* width: 20rem; */
        /* width: 40rem; */
        font-size: larger;
    }
    .Technical-skills{
        display: flex;
        justify-content:space-around;
        /* align-items: center; */
        flex-direction: column;
        margin-top: 4rem;
        /* margin-right: 7rem; */
    
    
    }

}
@media screen and (max-width: 833px) {

.web-prog{
        display: flex;
        justify-content:center;
        gap: 4rem;
        align-items: center;
        margin-top: 3rem;
        flex-direction: column;
        /* font-size: medium; */
        }
        .formargin{
            margin: 0;
        }
        .tech-heading{
            color: rgb(41, 40, 38);
            text-decoration: underline;
            text-decoration-color: rgb(238, 195, 1);
            text-align: center;
        }
        .education-heading{
            color: rgb(41, 40, 38);
            text-decoration: underline;
            text-decoration-color: rgb(238, 195, 1);
            margin-bottom: 2rem;
            text-align: center;
            }
            .details{
                margin-top: 0.7rem;
                display: flex;
                justify-content:space-between;
                /* align-items: center; */
                /* gap:5rem; */
                box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
                padding: 1rem;
                /* margin-right: 6rem; */
                /* margin-left:13rem ; */
                /* margin-right: 10rem; */
                width: 37rem;
                /* margin: 4rem; */
                
            }
            .educational-details{
                /* margin-top: 2rem; */
                display: inline-flex;
             flex-direction: column;
             /* align-items: center; */
             justify-content:center;
             /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
            /* padding: 1rem; */
            /* border-radius: 0.5rem; */
            max-width: 50rem;
            padding-left: 0;
            padding-top: 0%;
            /* padding-bottom: 1.5rem; */
            /* margin-left: 0; */
            margin: 2rem;
            
            }
            .activities{
                /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
                box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 9px -20px;
                padding: 0.2rem;
                /* margin-top: 1.5rem; */
                border-radius: 0.5rem;
                /* width: 20rem; */
                /* width: 40rem; */
                font-size: larger;
                margin: 2rem;
                text-align: center;
            }
            footer{
                width: 100%;
                margin: 0;
            }

}
@media only screen and (max-width: 600px) {
    .start-location{
        display: none;
    }
    .details{
        width: 13rem;
        font-size: larger;
    }
    /* .information{
      width: 20rem;

    } */
    .information{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 12rem;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        padding: 1rem;
        border-radius: 1rem;
        /* margin-left: 0.5rem; */
    }
    .about{
        display: flex;
        justify-content: center;
        gap:3rem;
        align-items: center;
        margin: 0;
        font-size:small;
        /* font-weight: 600; */
        width: 20.5rem;
        padding: 0;
        margin-top: 4rem;
        
    }
    .Technical-skills{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        margin-top: 6rem;
        /* margin-right: 7rem; */
    
    
    }
    .web-prog{
        display: flex;
        justify-content:center;
        /* gap: 20rem; */
        align-items: center;
        margin-top: 3rem;
        /* margin: 0; */
        }
        /* footer{
            width: 100%;
        /* } */
} 