.close{
    top:0;
    right:0;
    padding: 1rem;
    /* bottom: 0; */
    position:absolute;
}
.close-btn{
    border: none;
    /* background-color: rgb(234, 203, 4); */
    background:none ;
    padding: 0.7rem;
    color: rgb(5, 19, 19);
    /* right: 20rem; */
   
}
.m-icon{
    font-size: xx-large;
    font-size: 40px;
    font-weight: 700;
}
ion-icon {
    font-size: 54px;
    /* --ionicon-stroke-width: 16px; */
    /* color: blue; */
  }
  .model-links{
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .ul{
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
gap:2rem;
margin-top: 10rem;}
/* margin-left: 4rem;} */
.model-btn{
    border: none;
    padding: 1rem;
    font-size: 0.8rem;
    background-color: rgb(240, 221, 15);
    color: black;
    width: 10rem;
    border-radius: 0.5rem;

}